<div>
    <form method="POST" action="/users/reset/<%= Token.token %>">
        <input type="password" name="password" required placeholder="Enter password">
        <input type="password" required placeholder="Reenter password" name="confirm_password">
        <button type="submit">Submit</button>
    </form>
</div>