<div>
    <form method="POST" action="/users/forget">
        <input name="email" type="email" required placeholder="enter email for which you want to reset password">
        <button type="submit">Submit</button>
    </form>
</div>