<h2>Sign In Page</h2>
<form action="/users/create-session">
    <input type="email" name="email" placeholder="Enter registered email">
    <input type="password" name="password" placeholder="Enter your password">
    <button type="submit">Sign In</button> 
</form>