<h2>Sign Up Page</h2>
<form action="/users/create-user" method="POST">
    <input type="text" placeholder="Enter name" name="name">
    <input type="email" placeholder="Enter email" name="email">
    <input type="password" placeholder="Enter password" name="password">
    <input type="password" placeholder="Reenter your password" name="confirm_password">
    <button type="submit">Sign Up</button>
</form>